@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Available Graphs</h2>

<ul>
    <li>Chart 1 -- TODO:  Make links @Html.ActionLink("Project Timeline", "ProjectTimeline", "Charts")</li>
    <li>Chart 2 -- TODO:  Make links</li>
    <li>Chart 3 -- TODO:  Make links</li>
</ul>
